#app
DB_MYSQL_HOST=mariadb
DB_MYSQL_PORT=3306
DB_MYSQL_USER=ngix-proxy
DB_MYSQL_PASSWORD=ngix-proxy
DB_MYSQL_NAME=ngix-proxy-manager

#Database
MYSQL_ROOT_PASSWORD=RHtBt6R6sM
MYSQL_DATABASE=ngix-proxy-manager
MYSQL_USER=ngix-proxy
MYSQL_PASSWORD=ngix-proxy
