##postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_USER=postgres
POSTGRES_DB=postgres
##graphql-engine
HASURA_GRAPHQL_METADATA_DATABASE_URL=postgres://postgres:postgrespassword@postgres:5432/postgres
HASURA_GRAPHQL_ENABLE_CONSOLE="true" # set to "false" to disable console
HASURA_GRAPHQL_DEV_MODE="true"
HASURA_GRAPHQL_ADMIN_SECRET=hello123